.arrow
  transition: transform 0.3s ease

.arrow-up
  transform: rotate(0deg)

.arrow-down
  transform: rotate(180deg)

// --- float ----
.fr
  float: right !important
.fl
  float: left !important

.bold
  font-weight: 700 !important
// ------ display -----
.block
  display: block

.in-block
  display: inline-block

.hide
  visibility: hidden !important

// ----- text------
.underline
  text-decoration: underline
.tc
  text-align: center !important
.tl
  text-align: left !important
.tr
  text-align: right !important

.primary_color
  color: #7129F8 !important

.c333
  color: #333 !important

.c666
  color: #666 !important

.c999
  color: #999 !important

.error_msg
  color: #ff0000 !important

.pointer
  cursor: pointer

.safe_area_inset_bottom
  padding-bottom: constant(safe-area-inset-bottom)
  padding-bottom: env(safe-area-inset-bottom)

.over_hide
  overflow: hidden
  height: 100px
  word-break: break-all
  text-align: left

.textarea_text
  white-space: pre-wrap

.no_padding
  padding: 0 !important

.mt-20
  margin-top: -20px !important

//----- line-height
@for $i from 0 through 1200
  .lh#{10 + $i}
    line-height: 10px + $i !important

  .fz#{10 + $i}
    font-size: 10px + $i !important

  .m#{$i}
    margin: $i + px !important

  .ml#{$i}
    margin-left: $i + px !important

  .mt#{$i}
    margin-top: $i + px !important

  .mr#{$i}
    margin-right: $i + px !important

  .mb#{$i}
    margin-bottom: $i + px !important

  .p#{$i}
    padding: $i + px !important

  .pl#{$i}
    padding-left: $i + px !important

  .pt#{$i}
    padding-top: $i + px !important

  .pr#{$i}
    padding-right: $i + px !important

  .pb#{$i}
    padding-bottom: $i + px !important

  .w#{$i}
    width: $i + px !important

  .h#{$i}
    height: $i + px !important

.label_colon::before
  content: ':'
  font-weight: bold
  position: absolute
  right: -14px
